* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #393939;
}

#game {
    display: flex;
    position: relative;
    width: 800px;
    height: 200px;
    border: 1px solid #000;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
}

#trex {
    position: absolute;
    width: 39px;
    height: 42px;
    background: url(.//img/trex.png);
    z-index: 1000;

}

#cactus {
    position: absolute;
    width: 23px;
    height: 46px;
    background: url(.//img/kaktus.png);
}


#score {
    font-size: 10px;
    font-family: sans-serif;
    margin: 5px;
}

#gameOver {
    position: absolute;
    font-size: 40px;
    left: 50%;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: translatex(-50%);
}